* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #020617;
}

.logo img {
    width: 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-link {
    text-decoration: none;
}

.logo-text {
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: 0.5px;
    text-transform: lowercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #cbd5f5;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    height: 40vh;
    background: linear-gradient(rgba(2,6,23,0.8), rgba(2,6,23,0.8)),
                url('../site/imagens/sua-imagem.jpg'); /* pode trocar pela sua */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 40px;
    color: #38bdf8;
}

.hero-content p {
    margin-top: 10px;
    font-size: 18px;
}
.sobre-jogo {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}

.sobre-jogo p {
    font-size: 1.0;
    line-height: 1.8; 
    margin-bottom: 20px;
}

.card {
    background-color: #1e293b;
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    transition: 0.3s;
}

.card h2 {
    margin-bottom: 10px;
    color: #38bdf8;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
}

.card:hover {
    transform: translateY(-8px);
}
.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .logo {
        width: 100%;
        justify-content: space-between;
    }

    .menu-toggle {
        display: block;
    }

    .lista-do-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #020617;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 15px 0;
    }

    .lista-do-nav.ativar {
        display: flex;
    }

    .lista-do-nav li {
        text-align: center;
        margin: 10px 0;
    }

    .lista-do-nav a {
        display: block;
        padding: 10px;
    }

    .hero {
        height: 30vh;
    }

    .hero-content h1 {
        font-size: 26px;
    }

    .sobre-jogo {
        padding: 20px;
    }
}